@font-face {
	font-family: "ic";
	src: url('../../assets/fonts/icons/ic.eot');
	src: url('../../assets/fonts/icons/ic.eot?#iefix') format('eot'),
		url('../../assets/fonts/icons/ic.woff2') format('woff2'),
		url('../../assets/fonts/icons/ic.woff') format('woff'),
		url('../../assets/fonts/icons/ic.ttf') format('truetype'),
		url('../../assets/fonts/icons/ic.svg#ic') format('svg');
}

.ic:before {
	font-family: "ic";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.ic-bbq:before {
	content: "\E001";
}

.ic-calendrier:before {
	content: "\E002";
}

.ic-donner:before {
	content: "\E003";
}

.ic-etoile:before {
	content: "\E004";
}

.ic-fermer:before {
	content: "\E005";
}

.ic-fleche-droite:before {
	content: "\E006";
}

.ic-fleche-gauche:before {
	content: "\E007";
}

.ic-hamburger:before {
	content: "\E008";
}

.ic-info:before {
	content: "\E009";
}

.ic-lampe:before {
	content: "\E00A";
}

.ic-laptop:before {
	content: "\E00B";
}

.ic-machine-lave:before {
	content: "\E00C";
}

.ic-marker:before {
	content: "\E00D";
}

.ic-partager:before {
	content: "\E00E";
}

.ic-poubelle:before {
	content: "\E00F";
}

.ic-recherche:before {
	content: "\E010";
}

.ic-share:before {
	content: "\E011";
}
